.profileContainer {
    background-color: #3A2C3A;
    background-image: url("../images/Background5_hflip_1.jpg");
    background-size: cover;
    display: flex; 
    flex-wrap: wrap;
    column-gap: -10vw;
    justify-self: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*replaced min-width: 100vw with width: 100% to get rid of horizonral scrollbar */
    width: 100%;
    margin: 0 0 0 0
}

.profileBox {
    height : 93vh;
    
    width : 35vw;
    border-radius: 10px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 'Arial Black', sans-serif;
    font-size: 20px;
    float:left;
    
    background-color: rgba(255, 255, 255, 0.2);
    overflow: scroll;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.5s ease-in-out, width 0.5s, height 0.5s;
}

/*For size transition:
.profileBox's 
    height : 85.5vh;
    width : 32.5vw, 
transition:
    width: 35vw;
    height: 95vh;*/

.profileBox:hover{
    box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.5);
    box-shadow: -50px -50px 50px rgba(0, 0, 0, 0.5);
}
.profilelogoContainer {
    
    display: table;   
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.profileBreak {
    flex-basis: 100%;
    height: 0px;
    margin: 0 auto;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

/* the spacing don't do anything */
.profile_space_Between_Logo_and_UserProfile {
    height: 5px;
}

.profileSpace_middle {
    height: 10%;
}

.profileSpace_top{
    height: 5%;
}

.profileSpaceSmall{
    height: 1%;
}

.profileSpace_bottom{
    height: 9%
}

.profileSearchButton{
    height: 30px;
    width: 280px;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: darkblue;
    text-align: center;
    vertical-align: middle;
    line-height: 195%; /* I dont know why but this centers the text inside the box */
    font-size: 80%;
    transition: box-shadow 0.5s ease-in-out, width 0.5s, height 0.5s, line-height 0.5s, background-color 0.5s ;
    border-right: 2px solid black;
    border-bottom: 3px solid black;
}

.profileSearchButton:hover{
    height: 32px;
    width: 290px;
    line-height: 250%;
    background-color: rgb(3, 3, 161);
    /* -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear; */
 }

.profilefriendButton{
    height: 30px;
    width: 280px;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #280621;
    text-align: center;
    vertical-align: middle;
    line-height: 195%; /* I dont know why but this centers the text inside the box */
    font-size: 80%;
    transition: box-shadow 0.5s ease-in-out, width 0.5s, height 0.5s, line-height 0.5s, background-color 0.5s ;
    border-right: 2px solid black;
    border-bottom: 3px solid black;
}

.profilefriendButton:hover{
    height: 32px;
    width: 290px;
   line-height: 250%;
   background-color: #4a103d;
   /* -webkit-transition: background-color 500ms linear;
   -ms-transition: background-color 500ms linear;
   transition: background-color 500ms linear; */
}

.centerer{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto
}

.homeButton{
    background-color: #280621;
    position: absolute;
    height: 40px;
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 195%; /* I dont know why but this centers the text inside the box */
    font-size: 90%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.homeButton:hover{

    background-color: #4a103d;
}