
.user-search-bar {
    border: none;
    background-color: silver;
    border-bottom: 2px solid black;
    font-family: monospace;
    font-size: 14pt;
    width: 80%;
    height: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.user-search-entry {
    height: 50px;
    background-color: rgba(165, 208, 223, 0.6);
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}

.user-search-entry:hover {
    background-color: rgba(165, 208, 223, 0.8);
}

.user-search-image {
    float: left;
    margin-right: 10px;
}

.user-search-name {
    font-family: monospace;
}

.user-search-profile {
    float: right;
}